<div class="comment">
  <a class="avatar">
    <img src="https://api.adorable.io/avatars/285/{{answer.user}}.png">
  </a>
  <div class="content">
    <span class="author">{{answer.user}}</span>
    <div class="metadata">
      <span class="date"> @ {{answer.date}}</span>
    </div>
    <div class="text">
      {{answer.answer}}
      <br>
    </div>
    <div class="actions">
      {{answer-edit answer=answer deleteAnswer="deleteAnswer" updateAnswer="updateAnswer"}}
    </div>
  </div>
</div>
