{{#if inEdit}}
  <div class="ui form">
    <div class="ui message error" id="error">
      <i class="close icon right floated" {{action "toggleError"}}></i>
      <span>Please fill out all fields&nbsp;</span>
    </div>
    <button class="mini ui button green right floated" {{action "updateAnswer" answer}}>{{fa-icon "pencil-square-o"}}</button>
    <button class="mini ui button red right floated" {{action "toggleEdit"}}>{{fa-icon "ban"}}</button>
    <br><br>
    <label>Advice</label>
    <textarea value={{answer.answer}} id="answer"></textarea>

  </div>
{{else}}
  <!-- Further development: implement authentication system and display either the edit/delete buttons, or the upvote buttons -->
  <button class="mini ui button yellow right floated" {{action "toggleEdit"}}>{{fa-icon "pencil-square-o"}}</button>
  <button class="mini ui button red right floated" {{action "deleteAnswer" answer}}>{{fa-icon "trash-o"}}</button>
  <button class="mini ui circular button orange right floated" {{action "vote" "up" answer}}>{{fa-icon "thumbs-o-up"}}</button>
  <button class="mini ui circular button orange right floated" {{action "vote" "down" answer}}>{{fa-icon "thumbs-o-down"}}</button>
    <div {{action "toggleFaves" answer}}>
      {{ui-rating
        class="heart"
        rating=heartRating
        onRate=(action (mut heartRating))
        clearable=true
        initialRating=favorited
        maxRating=1
        id=(id-return answer)}}
    </div>
{{/if}}
