<div style="text-align:right">
  {{#if inCreate}}
    <div class="ui form">
      <div class="ui message error" id="error">
        <i class="close icon right floated" {{action "toggleError"}}></i>
        <span>Please fill out all fields&nbsp;</span>
      </div>
      <button class="mini ui button green right floated" {{action "createAnswer" question}}>{{fa-icon "comment-o"}}</button>
      <button class="mini ui button red right floated" {{action "toggleCreate"}}>{{fa-icon "ban"}}</button>
      <br><br>

      <label>Name</label>
      <input id="user">

      <label>Advice</label>
      <textarea id="answer"></textarea>
    </div>
  {{else}}
    <button class="mini ui button blue right floated" {{action "toggleCreate"}}>{{fa-icon "comment-o"}}</button>
    <br>
  {{/if}}
</div>
