<br>
<div class="comment">
  <a class="avatar">
    <img src="https://api.adorable.io/avatars/285/{{answer.user}}.png">
  </a>
  <div class="content">
    <span class="author">{{answer.user}}</span>
    <br>
    <div class="metadata">
      <span class="date">{{time-format answer.date}}</span>
    </div>
    <div class="text">
      {{answer.answer}}
      <br>
    </div>
    <!-- <div class="actions">
      <div {{action "toggleFaves" answer}}>
        {{ui-rating
          class="heart"
          rating=heartRating
          onRate=(action (mut heartRating))
          clearable=true
          initialRating=1
          maxRating=1
          id=(id-return answer)}}
      </div> -->
    <!-- </div> -->
  </div>
</div>
