<div class="title">
  {{question.question}}
  <span style="color:orange;">{{question.user}}</span>
</div>
<div class="content">
  {{question.further}}
  {{question-edit question=question updateQuestion="updateQuestion" deleteQuestion="deleteQuestion"}}
  <br><hr>
  {{answer-new question=question createAnswer="createAnswer"}}
  <br>
  <div class="ui comments">
    <h3 class="ui dividing header">Answers</h3>
    {{#each question.answers as |answer|}}
      {{answer-tile question=question createAnswer="createAnswer" deleteAnswer="deleteAnswer"}}
    {{/each}}
  </div>
</div>

<button class="orange" {{action "testFunc"}}></button>
