<div class="title">
  {{question.question}}
  <span style="color:orange;">{{question.user}}</span>
</div>
<div class="content">
  {{question.further}}
  {{question-edit question=question updateQuestion="updateQuestion" deleteQuestion="deleteQuestion"}}
  <br><hr>
  {{answer-tile}}
</div>
